:root {
  --main-text-color: #999999;
  --second-text-color: #ffffff;
  --main-tittle-color: #ffffff;
  --second-tittle-color: #323232;
  --accent-color: #4985ff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* Header */

.container {
  width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat, sans-serif;
}

.header {
  background-color: blueviolet;
  padding-top: 40px;
  padding-bottom: 40px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
}

.hero {
  background-color: #362b2b;
  padding-top: 220px;
  padding-bottom: 335px;
}

.hero-text {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(20 / 16);
  /* identical to box height */
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}

.hero-tittle {
  font-weight: 800;
  font-size: 48px;
  line-height: calc(64 / 48);
  text-align: center;
  color: #ffffff;
  max-width: 829px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(20 / 16);
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  display: block;
  width: 200px;
  height: 45px;
  border-radius: 30px;
}

.mobile-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.42;
  text-align: center;
  color: var(--second-tittle-color);
}

.mobile-text {
  font-size: 16px;
  line-height: 1.56;
  text-align: center;
  color: var(--main-text-color);
}

.mobile-list-title {
  font-size: 18px;
  line-height: 1.22;
  color: #000000;
}

.mobile-list-text {
  font-size: 14px;
  line-height: 1.57;
  color: var(--main-text-color);
}
.mobile-btn {
  color: #ffffff;
  background: #4985ff;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
}

.standart-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.47;

  color: var(--second-tittle-color);
}
.standart-text {
  font-size: 16px;
  line-height: 1.56;

  color: var(--main-text-color);
}
.standart-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;

  color: var(--accent-color);
}

.standart-item-count {
  font-size: 36px;
  line-height: 1.47;

  color: #000000;
}
.standart-item-text {
  font-size: 16px;
  line-height: 1.56;

  color: var(--main-text-color);
}
